{% extends 'base.html' %}
{% load static %}

{% block content %}

<br>
    <div class="card">
        <div class="card-body">
            <center>
                <a href="{% url 'loja' %}">Loja</a>
                &nbsp;|&nbsp;
                <a href="{% url 'cliente' %}">Cliente</a>
                &nbsp;|&nbsp;
                <a href="{% url 'entregador' %}">Entregador</a>
            </center>
        </div>
    </div>
    <br>
    <h3>Bem vindo ao site</h3>

{% endblock %}